numpy>=2.2.4
matplotlib>=3.10.1
tqdm>=4.66.4
jax[cuda12]==0.5.3; sys_platform == 'linux'
jax==0.5.3; sys_platform == 'win32'
jaxlib==0.5.3
equinox==0.12.1
diffrax==0.7.0
optax==0.2.4
pandas>=2.2.3
scikit-learn==1.4.2